#circ{
	width:50px;
	height:50px;
	background-color:#FFFFFF;
	position: absolute;
	left:90px;
	top:90px;
	border-radius:100%;
	animation:anim2 2s infinite;
	transition:2s;
	border:10px solid #2E0854;
}

#circ.begin
{
	
}

#circ.end
{
	left:90px;
	top:290px;
	
}

@keyframes anim2{
	from {transform:scale(1.0,1.0)}
	50% {transform:scale(0.8,0.8)}
	to {transform:scale(1,1)}
}

.target:hover{
	width=100px;
}

.line{
	width:30px;
	height: 175px;
	background-color:#2E0854;
	left:110px;
	top:125px;
	position:absolute;
}

.davis_station{
	width:100px;
	height:100px;
	background-color:#2E0854;
	position: absolute;
	left:75px;
	top:75px;
	border-radius:100%;
}

.howard_station{
	width:100px;
	height:100px;
	background-color:#2E0854;
	position: absolute;
	left:75px;
	top:275px;
	border-radius:100%;
}
